<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MatchingBatchSize" value="250"/>

    <add key="MatchProcessFlag" value="MatchProcessFlag" />
    <add key="UnMatchProcessFlag" value="UnmatchProcessFlag" />

    <add key="TrueValue" value="True" />

    <add key="DatabaseConnectionString" value="Data Source=.;Initial Catalog=Profisee2021R3;Integrated Security=True" />
    <add key="UnmatchStoredProcedureName" value="dbo.spUnmatchMemberCodeTest" />
    <add key="MatchStoredProcedureName" value="dbo.spMatchMemberCodeTest" />

    <add key="MatchClearAttributes" value="MatchProcessFlag" />
    <add key="UnmatchClearAttributes" value="UnmatchProcessFlag" />

    <add key="UpdateIndexAttribute" value="UpdateIndexAttribute" />
    <add key="MatchGroupAttribute" value="Match Group" />

    <add key="Verbose" value="true" />

    <add key="StrategyStatusPollingInterval" value="2500" />

    <add key="SDKLocation" value="C:\Program Files\Profisee\Profisee SDK\23.2.0 R1" />
    
  </appSettings>
</configuration>